@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-dark: #050505;
  --color-dark-1: #121212;
  --color-dark-2: #242424;
  --color-light: #F6F6F6;
  --color-light-1: #9A9A9A;
  --color-primary: #FFC700;
  --color-primary-dark: #F2A000;
  --color-secondary: #2667FF;
  --color-secondary-dark: #3B28CC;
  --color-tertiary: #4CC700;
  --color-tertiary-dark: #0C9B00;
  
  --font-sans: "JetBrains Mono", sans-serif;
  --font-blog-sans: "Noto Sans", sans-serif;
  --font-serif: "Instrument Serif", serif;
  
  --animate-spin: spin 10s linear infinite;
  --animate-wave: wave 1.5s alternate ease infinite;

  @keyframes spin {
    0% { transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(0deg); }
    100% { transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(360deg); }
  }

  @keyframes wave {
    0% { transform: translateX(0px) rotate(0deg); }
    30% { transform: translateX(3px) rotate(20deg); }
    60% { transform: translateX(-5px) rotate(-2deg); }
    100% { transform: translateX(5px) rotate(30deg); }
  }
}
