@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-dark: #050505;
  --color-dark-1: #121212;
  --color-dark-2: #242424;
  --color-light: #f6f6f6;
  --color-light-1: #9a9a9a;
  --color-primary: #ffc700;
  --color-primary-dark: #f2a000;
  --color-secondary: #2667ff;
  --color-secondary-dark: #3b28cc;
  --color-tertiary: #4cc700;
  --color-tertiary-dark: #0c9b00;

  --font-sans: "JetBrains Mono", sans-serif;
  --font-blog-sans: "Noto Sans", sans-serif;
  --font-serif: "Instrument Serif", serif;

  --animate-spin: spin 10s linear infinite;
  --animate-wave: wave 1.5s alternate ease infinite;

  @keyframes spin {
    0% {
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(0deg);
    }

    100% {
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(360deg);
    }
  }

  @keyframes wave {
    0% {
      transform: translateX(0px) rotate(0deg);
    }

    30% {
      transform: translateX(3px) rotate(20deg);
    }

    60% {
      transform: translateX(-5px) rotate(-2deg);
    }

    100% {
      transform: translateX(5px) rotate(30deg);
    }
  }
}
