---
import SectionTitle from "./util/SectionTitle.astro";
---

<section>
    <SectionTitle
        title="What else you need? Let's connect!"
        icon="delta"
        bookmarkColor="tertiary"
    />
    <div class="my-20 px-[10%]"></div>
</section>
