<main
    class="w-full h-screen relative overflow-hidden flex flex-col justify-center items-center"
>
    <div id="grid-container"></div>
    <div id="hero-cursor"></div>
    <div
        class="w-full h-1/5 bg-linear-to-b from-transparent to-dark absolute bottom-0 left-0 z-50"
    >
    </div>

    <div class="z-50 group">
        <h2
            class="text-right bg-linear-to-b from-primary to-primary-dark bg-clip-text text-transparent font-bold italic text-2xl md:text-4xl"
        >
            Hello there!<span class="text-white not-italic group-hover:animate-wave inline-block">👋</span>
        </h2>
        <h1 class="mt-4 text-light text-center text-5xl md:text-9xl font-bold">
            I'm Nayan<span class="outlined-text">VR</span>
        </h1>
    </div>

    <script>
// oxlint-disable typescript/no-non-null-assertion
        const gridContainer: HTMLElement = document.querySelector("#grid-container")!;
        const cursor: HTMLElement = document.querySelector("#hero-cursor")!;

        const columns = Number.parseInt(`${window.innerWidth / 30}`);
        const rows = Number.parseInt(`${window.innerHeight / 30}`);

        gridContainer.style.setProperty("--columns", columns.toString());
        gridContainer.style.setProperty("--rows", rows.toString());

        const TILE_BASE_OPACITY = 0.1;

        const mousePos = {
            radius: 200,
            x: 0,
            y: 0,
        };

        const tiles: { elem: HTMLDivElement; x: number; y: number }[] = [];

        const handleMouseMove = (e: MouseEvent) => {
            mousePos.x = e.clientX;
            mousePos.y = e.clientY + window.scrollY;
            cursor.style.left = mousePos.x + "px";
            cursor.style.top = mousePos.y + "px";
        };
        document.addEventListener("mousemove", handleMouseMove);

        const createTile = (index: number) => {
            const tile = document.createElement("div");
            tile.classList.add("tile");
            const dot = document.createElement("div");
            dot.classList.add("dot");
            tile.append(dot);
            return tile;
        };

        const createTiles = (quantity: number) => {
            for (let i = 0; i < quantity; i++) {
                const tile = createTile(i);
                gridContainer.append(tile);
                tiles.push({ elem: tile, x: 0, y: 0 });
            }
            tiles.forEach((tile, index) => {
                const tilePos = tile.elem.getBoundingClientRect();
                tile.x = tilePos.x + tilePos.width / 2;
                tile.y = tilePos.y + tilePos.height / 2;
            });
        };

        createTiles(columns * rows);

        // oxlint-disable-next-line func-style
        function animate() {
            requestAnimationFrame(animate);

            for (const tile of tiles) {
                const distance = Math.hypot(mousePos.x - tile.x, mousePos.y - tile.y);
                const radius = mousePos.radius - distance;
                const opacity = Math.max(radius / 500, TILE_BASE_OPACITY);
                if (radius > 0) {
                    tile.elem.style.opacity = opacity.toString();
                    tile.elem.style.transform = `scale(${Math.max(
                        radius / 100,
                        1
                    )})`;
                } else {
                    tile.elem.style.opacity = "0.1";
                    tile.elem.style.transform = "scale(1)";
                }
            }
        }
        animate();
    </script>

    <style is:inline>
        #grid-container {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            display: grid;
            grid-template-columns: repeat(var(--columns), 1fr);
            grid-template-rows: repeat(var(--rows), 1fr);
            justify-content: center;
        }
        .tile {
            min-width: 100%;
            min-height: 100%;
            position: relative;
            opacity: 0.1;
        }
        .dot {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #f6f6f6;
        }
        #hero-cursor {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: radial-gradient(
                circle,
                rgba(255, 255, 255, 0.05) 0%,
                rgba(255, 255, 255, 0) 60%,
                rgba(255, 255, 255, 0) 100%
            );
            transform: translate(-50%, -50%);
            pointer-events: none;
            z-index: 5;
        }
        .outlined-text {
            -webkit-text-fill-color: #050505;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--tw-primary-color);
        }
    </style>
</main>
