---
import SectionTitle from "./util/SectionTitle.astro";
---

<section>
    <SectionTitle
        title="Here are some things that I want to show you."
        icon="lambda"
        bookmarkColor="tertiary"
    />
    <div class="my-20"></div>
</section>
