---
import SectionTitle from "./util/SectionTitle.astro";
import Slider from "./util/Slider.astro";
---

<section class="w-full">
    <SectionTitle
        title="I know you're asking for proof of what I've just said."
        icon="psi"
        bookmarkColor="secondary"
    />
    <div class="my-20 flex flex-col gap-8">
        <h2 class="text-xl mx-[10%]">
            💛 I love the web <span class="italic text-light-1"
                >(Web Development)</span
            >
        </h2>
        <Slider sliderName="web" />

        <h2 class="text-xl mx-[10%]">
            🎨 Painting in digital space <span class="italic text-light-1"
                >(Graphic Design)</span
            >
        </h2>
        <Slider sliderName="graphic" />

        <h2 class="text-xl mx-[10%]">
            🌟 What you're watching right now <span class="italic text-light-1"
                >(UI/UX)</span
            >
        </h2>
        <Slider sliderName="ui" />

        <h2 class="text-xl mx-[10%]">
            🧶 New brands are amazing <span class="italic text-light-1"
                >(Logo Design)</span
            >
        </h2>
        <Slider sliderName="logo" />
    </div>
</section>
