---
import SectionTitle from "./util/SectionTitle.astro";
import Slider from "./util/Slider.astro";
---

<section class="w-full">
    <SectionTitle
        title="I know you're asking for proof of what I've just said."
        icon="psi"
        bookmarkColor="secondary"
    />
    <Slider sliderName="web" />
</section>
