---
export interface Props {
    imageName: string;
    desc: string;
}

const { imageName, desc } = Astro.props;
---

<div
    class="w-full h-full p-1 border-2 border-light rounded-lg relative overflow-hidden group"
>
    <img
        class="object-cover w-full h-full rounded-md group-hover:blur-xl transition-all"
        src=`/showcase/${imageName}.png`
        alt={imageName}
    />
    <div
        class="absolute top-0 left-0 w-full h-full opacity-0 group-hover:opacity-80 rounded-lg bg-dark transition-all"
    >
    </div>
    <p
        class="absolute top-1/2 left-1/2 w-full text-center text-lg px-4 -translate-x-1/2 group-hover:-translate-y-1/2 translate-y-0 opacity-0 group-hover:opacity-100"
    >
        {desc}
    </p>
</div>
